<footer class="footer">
  <div class="footer__container">

    <!-- BIG STATEMENT -->
    <div class="footer__top">
      <h2 class="footer__headline">
        Let’s build something
        <span>impactful</span>
      </h2>

      <p class="footer__subtext">
        I design scalable frontend systems with performance and clarity in mind.
      </p>

      <div class="footer__actions">
        <app-button size="md"  >Get In Touch</app-button>
        <app-button size="md" [type]="viewButtonType" >View Work</app-button>
      </div>
    </div>

    <!-- DIVIDER -->
    <div class="footer__divider"></div>

    <!-- BOTTOM -->
    <div class="footer__bottom">
      <p>© 2026 Shivank Mittal</p>
      <p class="footer__status">
        <span class="dot"></span> Available for opportunities
      </p>
    </div>

  </div>
</footer>