<nav role="navigation">
    <h3 class="logo" >{{navbarInfo().name}}</h3>


    <ul class="item-section">
        @if((deviceType$ | async) !== "mobile") {
            @for (item of navbarInfo().items; track $index) {
                <li [id]="item.id" (keydown)="keyInteractionHandler($event)">
                    <a #navItem (click)="handleElementSection(item)">
                        {{item.name | titlecase}}
                    </a>
                </li>
            }
        }

        <li class="cta">
            <app-button (click)="onResumeDownload()">Download CV </app-button>
        </li>
    </ul>
</nav>