:host{
    display: block;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
}

.information {
    display: flex;
    flex-direction: column;
    padding: var(--global-padding);
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);
    gap: calc( 3 * var(--space-2xl));
}


/* @media (min-width: 768px) {
    .information{
        padding: 0 8em;
    }
}

@media (min-width: 1024px) {
    .information{
        padding: 0 12em;
    }
} */