@let deviceType = deviceType$ | async;
@if (deviceType === 'desktop' || deviceType === 'tablet') {
  <div class="layout-desktop">
    <aside class="sidebar">
      <app-sidebar [navbarInfo]="userNavbarInfo"></app-sidebar>
    </aside>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
} @else {
  <div class="layout-mobile">
    <app-topbar [navbarInfo]="userNavbarInfo"></app-topbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
}
