<div id="available-icon">
    <div id="icon"></div>
    <span id="available-content"> Available for the coloration</span>
</div>

<section id="hero">
    <div id="hero-headline">
        <h3>Engineering intelligent</h3>
        <h3 id="hero-headline_section">frontend systems</h3>
        <h3>powered by</h3>
        <h3>scalable AI architectures</h3>
    </div>

    <section id="hero-info">
        <p>Crafting end-to-end systems that transform complex data into real-time, intelligent user experiences — powered by Angular, AI, and scalable backend architectures</p>
    </section>

    <section id="hero-actions">
        <app-button size="md"> View Projects </app-button>
        <app-button [type]="getInTouchButton" size="md" > Get In Touch</app-button>
    </section>

</section>

<div id="divider"></div>

<section id="info">

    <div class="info-item">
        <fa-icon [icon]="icons.briefcase" class="info-icon"></fa-icon>
        <div class="info-text">
            <h1 class="info-header">5+</h1>
            <p class="info-content">Years of Experience</p>
        </div>
    </div>

    <div class="info-item">
        <fa-icon [icon]="icons.projectDiagram" class="info-icon"></fa-icon>
        <div class="info-text">
            <h1 class="info-header">AI</h1>
            <p class="info-content">RAG, Context, Prompts</p>
        </div>
    </div>

    <div class="info-item">
        <fa-icon [icon]="icons.user" class="info-icon"></fa-icon>
        <div class="info-text">
            <h1 class="info-header">Performance</h1>
            <p class="info-content">SSR, lazy loading</p>
        </div>
    </div>

</section>