<div id="available-icon">
    <div id="icon"></div>
    <span id="available-content"> Available for the coloration</span>
</div>

<section id="hero">
    <div id="hero-headline">
        <h3>Building resilient</h3>
        <h3 id="hero-headline_section">frontend architectures</h3>
        <h3>and scalable</h3>
        <h3>system</h3>
    </div>

    <section id="hero-info">
        <p>Software Engineer specializing in system design, performance optimization, and shipping products that scale to millions.</p>
    </section>

    <section id="hero-actions">
        <app-button size="md"> View Projects </app-button>
        <app-button [type]="getInTouchButton" size="md" > Get In Touch</app-button>
    </section>

</section>

<div id="divider"></div>

<section id="info">

    <div>
        <h1 id="info-header">5+</h1>
        <p id="info-content">Experience</p>
    </div>

    <div>
        <h1 id="info-header">40+</h1>
        <p id="info-content">Micro Front-ends</p>
    </div>

    <div>
        <h1 id="info-header">2M+</h1>
        <p id="info-content">Users served</p>
    </div>

</section>