:host {
    display: block;
}

#available-icon{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: baseline;
    font-size: var(--text-body-sm);
}

#icon{
    background-color: green;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}


#hero{
    align-items: baseline;
    margin-top: var(--space-md);
}

#available-content {
    color: var(--color-text-secondary);
    font-weight: var(--text-body-sm);
}

#hero-headline> h3{
    font-size: var(--text-hero);
    padding: 0;
    margin: 0;
    line-height: 3rem;
}

#hero-headline_section {
    color: var(--color-primary);
}

#hero-info{
    margin-top: var(--space-lg);
    word-wrap: break-word;
    font-size: var(--text-body);
    color: var(--color-text-secondary);
}

#hero-actions{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    margin-top: var(--space-lg);
}

#info {
    display: flex;
    justify-content: space-around; /* Improved positioning */
    align-items: center;
    gap: var(--space-lg);
    margin-top: var(--space-lg);
}

#info-content {
    margin-top: var(--space-sm);
}

#info-header{
    font-size: var(--text-heading-lg); /* Adjusted text size */
    color: var(--color-primary);
    font-weight: bold;
    margin: 0;
}

#divider {
    border-top: 1px solid var(--color-text-secondary);
    width: 100%;
    margin-top: var(--space-xl);
    margin-bottom: var(--space-md);
}

.info-icon {
  font-size: 2rem; /* Adjusted icon size */
  color: var(--color-primary);
  margin-bottom: var(--space-xs); /* Reduced spacing below the icon */
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  text-align: center;
}

.info-header {
  font-size: var(--text-heading-lg); /* Adjusted text size */
  color: var(--color-primary);
  font-weight: bold;
  margin: 0;
}

.info-content {
  font-size: var(--text-body-sm); /* Adjusted text size */
  color: var(--color-text-secondary);
  margin: 0;
}

@media (min-width: 768px) {
    #hero-info{
        width: 70%;
    }

    #hero-headline> h3{
        line-height: 4rem;
    }
}

@media (min-width: 1024px) {
    #hero-info{
        width: 70%;
    }
}